@font-face {
  font-family: "iconfont"; /* Project id 3554999 */
  /* Color fonts */
  src: 
       url('//at.alicdn.com/t/c/font_3554999_fp2doexo7lq.woff2?t=1660455221686') format('woff2'),
       url('//at.alicdn.com/t/c/font_3554999_fp2doexo7lq.woff?t=1660455221686') format('woff'),
       url('//at.alicdn.com/t/c/font_3554999_fp2doexo7lq.ttf?t=1660455221686') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shengjie:before {
  content: "\e63d";
}

.icon-xingqiu1:before {
  content: "\e615";
}

.icon-yueliang:before {
  content: "\e616";
}

.icon-ruzhishijian--:before {
  content: "\e618";
}

.icon-rili1:before {
  content: "\e62c";
}

.icon-liuyan:before {
  content: "\e680";
}

.icon-biaoji:before {
  content: "\e696";
}

.icon-miao:before {
  content: "\e61d";
}

.icon-liuyanban:before {
  content: "\e61b";
}

.icon-rili2:before {
  content: "\e628";
}

.icon--:before {
  content: "\e667";
}

.icon-WEBSITE:before {
  content: "\e607";
}

.icon-guidang1:before {
  content: "\e6dd";
}

.icon-wenjianjia1:before {
  content: "\e673";
}

.icon-shenghuo:before {
  content: "\e75a";
}

.icon-waixingqiu:before {
  content: "\e605";
}

.icon-yueliang1:before {
  content: "\e609";
}

.icon-rili3:before {
  content: "\e625";
}

.icon-yueliang2:before {
  content: "\e727";
}

.icon-gengduo2:before {
  content: "\e61e";
}

.icon-heidong:before {
  content: "\e617";
}

.icon-wenjianjia2:before {
  content: "\10089";
}

.icon-biaoqian_1:before {
  content: "\e6a8";
}

.icon-xingqiu:before {
  content: "\e60c";
}

.icon-icon-test:before {
  content: "\e66f";
}

.icon-icon-test1:before {
  content: "\e676";
}

.icon-Plug:before {
  content: "\e690";
}

.icon-Printer:before {
  content: "\e691";
}

.icon-radio:before {
  content: "\e692";
}

.icon-signal:before {
  content: "\e693";
}

.icon-tag:before {
  content: "\e694";
}

.icon-TV:before {
  content: "\e695";
}

.icon-CD:before {
  content: "\e69e";
}

.icon-Compass:before {
  content: "\e6a2";
}

.icon-a-6gywm:before {
  content: "\e622";
}

.icon-ads:before {
  content: "\e716";
}

